body {
  background-color: #f0f0db;
  color: #355f05;
  font-family: "Saira", sans-serif;
}
.weather-app {
  background: white;
  max-width: 600px;
  margin: 50px auto;
  border-radius: 15px;
  padding: 30px;
  font-family: "Saira", sans-serif;
}
header {
  border-bottom: 1px solid #f0f0db;
  padding: 0 0 30px 0;
}
a {
  color: #355f05;
}
.search-form-input {
  font-family: "Saira", sans-serif;
  color: #355f05;
  border: 1px solid #355f05;
  width: 80%;
  border-radius: 6px;
  font-size: 16px;
  padding: 15px 20px;
}
.search-form-input::placeholder {
  color: #878886;
}
.search-form-button {
  font-family: "Saira", sans-serif;
  border: none;
  color: white;
  background-color: #355f05;
  border-radius: 6px;
  font-size: 16px;
  padding: 15px 20px;
  margin-left: 5px;
}
.weather-app-data {
  display: flex;
  justify-content: space-between;
}
.weather-app-city {
  font-weight: 600;
  font-size: 50px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.weather-app-details {
  font-size: 16px;
  line-height: 22px;
  font-weight: 450;
  color: #878886;
}
.weather-app-details strong {
  color: #355f05;
}
.weather-app-temperature-container {
  display: flex;
  margin-top: 30px;
}
.weather-app-icon {
  width: 88px;
  height: 88px;
  margin-top: 25px;
  margin-right: -11px;
}
.weather-app-temperature {
  font-size: 88px;
  margin-left: 5px;
  font-weight: bold;
}
.weather-app-unit {
  font-size: 28px;
  margin-top: 25px;
}
.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}
.weather-forecast-date {
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  margin-top: 20px;
  color: #878886;
}
.weather-forecast-icon img {
  width: 75px;
  height: 75px;
  display: block;
  margin: 0 auto;
}
.weather-forecast-temperatures {
  text-align: center;
  color: #355f05;
  display: flex;
  justify-content: center;
}
.weather-forecast-temperature {
  padding: 0 5px;
}
footer {
  border-top: 1px solid #f0f0db;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 13px;
  color: #878886;
}
